<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
        <title>Brands</title>
    </head>
    <body>
<!-- List of brands with links to brand pages-->
        <div class="container">
            <h2>Brands</h2>
            {% if brands is not empty %}
                <p>Here are all your Brands:</p>
                <ul class="list-group">
                    {% for brand in brands %}
                        <li class="list-group-item"><a href="/brands/{{ brand.getId }}">{{ brand.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
<!-- Add a brand -->
            <div class="form-group">
                <form action='/brands' method='post'>
                    <label for='brand_name'>Brand Name</label>
                    <input id='brand_name' name='brand_name' type='text'>

                    <button class="btn btn-default" type='submit'>Add Brand</button>
                </form>
            </div>
<!-- Delete all brands -->
            <div class="form-group">
                <form action='/delete_brands' method='post'>
                    <button class="btn btn-default" type='submit'>Clear All</button>
                </form>
            </div>

                <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
